<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'/>
    <link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'/>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Access is denied</title>
</head>
<body>
<div class="errorMessage">
    <h2>HA HA. NO.</h2>
    <p>
        403 access is denied <br/>
        <a href="/">Go to home page</a>
    </p>
</div>

</body>
</html>